<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cocktail.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Register Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.cocktail.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Favorites Servlet -->
    <servlet>
        <servlet-name>FavoritesServlet</servlet-name>
        <servlet-class>com.cocktail.servlets.FavoritesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavoritesServlet</servlet-name>
        <url-pattern>/favorites</url-pattern>
    </servlet-mapping>

    <!-- MyBar Servlet -->
    <servlet>
        <servlet-name>MyBarServlet</servlet-name>
        <servlet-class>com.cocktail.servlets.MyBarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyBarServlet</servlet-name>
        <url-pattern>/mybar</url-pattern>
    </servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>